<a href="https://colab.research.google.com/github/psrana/Learn-Python-in-2-hr/blob/main/Learn_Python_in_2_hr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Learn Python in 2 hr**
---
### There are 16 programs to clear the various concepts in python programming such as:
```
Syntex, Loop, if-else, Data Structures, Strings, File Handaling, Exception Handaling, 
Random Numbers and use of libraries
```

---
### **Self learning resource**
Tutorial on Python (Byte of Python) **<a href="https://python.swaroopch.com/"> Click Here</a>** 


```



```




---
# **1. Hello World**
---
**Learning:** How to print and run python program

In [1]:
print ("Hello World")

Hello World

**Assingment 1.1**: WAP to print your name three times

---
# **2. Add numbers and Concatinate strings**
**Learning:** How to delclare variable, add and print result

---
### **2.1 Add two numbers**

In [2]:
a = 10				
b = 220
c = a + b       # Add two numbers
print (a, " + ", b, " --> ", c)

10  +  220  -->  230


---
### **2.2 Add two numbers**
---

In [3]:
a = "Bhagat"
b = " Singh"
c = a + b		# Concatinate two strings
print (a, " + ", b, " --> ", c)

Bhagat  +   Singh  -->  Bhagat Singh

**Assingment 2.1**: WAP to add three numbers and print result

**Assingment 2.2**: WAP to concatinate three strings and print result

---
# **3. Input from user**
**Learning:** How to take input from user

---
### **3.1 Input two numbers from user and add them**

In [4]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
c = a + b
print (a, " + ", b, " --> ", c)

Enter First No: 32
Enter Second No: 67
32  +  67  -->  99

---
### **3.2 Input two strings from user and concatinate them**
---

In [5]:
a = input("Enter First String: ")
b = input("Enter Second String: ")
c = a + b		# concatinate two strings
print  (a, " + ", b, " --> ", c)

Enter First String: Sam
Enter Second String: Singh
Sam  +  Singh  -->  SamSingh

**Assingment 3.1**: WAP to add three numbers, inputs from user and print result.

*Try: In above program, give number in place of string and
try to get the difference between input()
and raw_input() function.*

**Assingment 3.2**: WAP to concatinate three strings, inputs from user and print

---
# **4. Loop**
**Learning:** How to take input from user

---
### **4.1 While Loop**

In [6]:
i=1
while i <= 10:
	print (i)
	i = i+1

1
2
3
4
5
6
7
8
9
10

---
### **4.2 Range Function**
---

In [7]:
print ("range(10) --> ", list(range(10)))
print ("range(0,20) --> ", list(range(0,20)))
print ("range(10,20) --> ", list(range(10,20)))
print ("range(0,20,2) --> ", list(range(0,20,2)))
print ("range(-10,-20,2) --> ", list(range(-10,-20,2)))
print ("range(-10,-20,-2) --> ", list(range(-10,-20,-2)))

range(10) -->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0,20) -->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(10,20) -->  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0,20,2) -->  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
range(-10,-20,2) -->  []
range(-10,-20,-2) -->  [-10, -12, -14, -16, -18]

---
### **4.3 For loop**
---
### **4.3.1 For loop - Version 1**

In [8]:
for i in range(0,10):
	print (i)

0
1
2
3
4
5
6
7
8
9

---
### **4.3.2 For loop - Version 2**
---

In [9]:
for i in range(0,20,2):
	print (i)

0
2
4
6
8
10
12
14
16
18

---
### **4.3.3 For loop - Version 3**
---

In [10]:
for i in range(0,-10,-1):
	print (i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

---
### **4.4 Print table of 5**
---

In [11]:
for i in range(1,11):
	print (5," * ", i , " = ", i * 5)

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

---
### **4.5 Sum all numbers from 1 to 10**
---
### **4.5.1 Version 1**

In [12]:
s=0
for i in range(1,11):
	s=s+i
print ("Sum is --> ",s)

Sum is -->  55

---
### **4.5.2 Version 2**
---

In [13]:
print ("Sum is --> ", sum(range(1,11)))

Sum is -->  55

**Assingment 4.1:** WAP to print the table of 7, 9.

**Assingment 4.2:** WAP to print the table of n and n is given by user.

**Assingment 4.3:** WAP to add all the numbers from 1 to n and n is given by user.

---
# **5. If-Else - Conditional Checking**
**Learning:** if-else Condition

---
### **5.1 Input two numbers from user and compare them**

In [14]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
if  a > b: 
	print (a," > ",b)
else:
	print (a," < ",b)

Enter First No: 32
Enter Second No: 23
32  >  23

---
### **5.2 Check weather a number is odd or even**
---

In [15]:
n = int(input("Enter a No: "))
if  n % 2 == 0: 
	print (n," is even")
else:
	print (n," is odd")

Enter a No: 34
34  is even

---
### **5.3 Check weather a number is prime of not**
---

In [17]:
n = int(input("Enter a No: "))
f=0
for i in range(2, n//2 + 1):
	if  n % i == 0: 
		f=1
		break

if f==0:
	print ("Prime")
else:
	print ("Not Prime")

Enter a No: 32
Not Prime

---
### **5.4 Conditional Checking - Compare strings**
---

In [18]:
a = input("Enter First String: ")
b = input("Enter Second String: ")

if a == b: 
	print ("a == b")
elif a >= b: 
	print ("a > b")
else:
	print ("a < b")

Enter First String: wap
Enter Second String: wasd
a < b

**Assingment 5.1:** WAP to find max amoung three numbers and input from user. [Try max() function]

**Assingment 5.2:** WAP to add all even numbers from 1 to n and n is given by user.

**Assingment 5.3:** WAP to add all prime numbers from 1 to n and n is given by user.

---
# **6. Functions**
**Learning:** How to declare and call

---
### **6.1 Add two numbers**

In [19]:
def Add(a,b):
	c=a+b
	return c

print ("Add(10,20) -->", Add(10,20))
print ("Add(20,50) -->", Add(20,50)) 
print ("Add(80,200) -->", Add(80,200))

Add(10,20) --> 30
Add(20,50) --> 70
Add(80,200) --> 280

---
### **6.2 Prime number**
---

In [20]:
def IsPrime(n):
	for i in range(2,int(n/2)+1):
		if n%i==0:
			return 0
	return 1

print ("IsPrime(20) --> ", IsPrime(20))
print ("IsPrime(23) --> ", IsPrime(23))
print ("IsPrime(200) --> ", IsPrime(200))
print ("IsPrime(37) --> ", IsPrime(37))

IsPrime(20) -->  0
IsPrime(23) -->  1
IsPrime(200) -->  0
IsPrime(37) -->  1

---
### **6.3 Add 1 to n**
---

In [21]:
def AddN(n):
	s= sum(range(n+1))
	return s

print ("AddN(10) --> ", AddN(10))
print ("AddN(20) --> ", AddN(20))
print ("AddN(50) --> ", AddN(50))
print ("AddN(200) --> ", AddN(200))

AddN(10) -->  55
AddN(20) -->  210
AddN(50) -->  1275
AddN(200) -->  20100


**Assingment 6.1:** WAP using function that add all odd numbers from 1 to n; n given by user.

**Assingment 6.2:** WAP using function that add all even numbers from 1 to n; n given by user.

**Assingment 6.3:** WAP using function that add all prime numbers from 1 to n; n given by user.

---
# **7. Math library**
**Learning:** Use math library

---

In [22]:
import math as m
print ("exp(-200)    --> ", m.exp(-200))  # Exponential function
print ("log(100,2)   --> ", m.log(100,2)) # Log
print ("log(100,10)  --> ", m.log(100,10))# Log
print ("log10(100)   --> ", m.log10(100)) # Log 10
print ("m.cos(30)    --> ", m.cos(30))    # cos
print ("m.sin(30)    --> ", m.sin(30))    # sin
print ("m.tan(30)    --> ", m.tan(30))    # tan
print ("m.sqrt(324)  --> ", m.sqrt(324))
print ("m.ceil(89.9) --> ", m.ceil(89.9))
print ("m.floor(89.9)--> ", m.floor(89.9))

exp(-200)    -->  1.3838965267367376e-87
log(100,2)   -->  6.643856189774725
log(100,10)  -->  2.0
log10(100)   -->  2.0
m.cos(30)    -->  0.15425144988758405
m.sin(30)    -->  -0.9880316240928618
m.tan(30)    -->  -6.405331196646276
m.sqrt(324)  -->  18.0
m.ceil(89.9) -->  90
m.floor(89.9)-->  89

---
# **8. Strings**
**Learning:** How to handle string

---
### **8.1 Indexing in string**

In [24]:
var1 = 'Hello World!'
var2 = "Python Programming"
print ("var1      --> ", var1)
print ("var2      --> ",var2)
print ("var1[0]   --> ", var1[0])
print ("var2[1:5] --> ", var2[1:5])
print ("var2[:-5] --> ", var2[:-5])

var1      -->  Hello World!
var2      -->  Python Programming
var1[0]   -->  H
var2[1:5] -->  ytho
var2[:-5] -->  Python Progra

---
### **8.2 String length, upper, lower**
---

In [25]:
var1 = 'Hello World!'
var2 = "Python Programming"

print ("var1 --> ", var1)
print ("var2 --> ",var2)

print ("\nlength of var1 --> : ", len(var1))
print ("length of var2 --> : ", len(var2))

print ("\nUpper of var1 --> : ", var1.upper())
print ("Upper of var2 --> : ", var2.upper())

print ("\nLower of var1 --> : ", var1.lower())
print ("Lower of var2 --> : ", var2.lower())

var1 -->  Hello World!
var2 -->  Python Programming

length of var1 --> :  12
length of var2 --> :  18

Upper of var1 --> :  HELLO WORLD!
Upper of var2 --> :  PYTHON PROGRAMMING

Lower of var1 --> :  hello world!
Lower of var2 --> :  python programming

---
### **8.3 String formatting**
---

In [26]:
name=input("Enter your name: ")
age=int(input("Enter your age: "))
price=float(input("Enter the book price: "))
s="\nYour name is %s, age is %d and book price is %f" %(name.upper(),age,price)
print (s)

Enter your name: Ram
Enter your age: 34
Enter the book price: 34.32
Your name is RAM, age is 34 and book price is 34.320000

---
### **8.4 String in Triple Quotes**
---

In [27]:
para_str = """This is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print (para_str)

This is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

---
### **8.5 String strip**
---

In [28]:
s1=" Indian Army    "
s2=" Indian     Army    "
s3="Indian, Army"

print ("s1 --> ", s1, "\t Length --> ", len(s1))
print ("s1 strip --> ", s1.strip(), "\t Length --> ", len(s1.strip()))

print ("\ns2 --> ", s2, "\t Length --> ", len(s2))
print ("s2 strip --> ", s2.strip(), "\t Length --> ", len(s2.strip()))

print ("\ns3 --> ", s3, "\t Length --> ", len(s3))
print ("s3 strip --> ", s3.strip(), "\t Length --> ", len(s3.strip()))

s1 -->   Indian Army     	 Length -->  16
s1 strip -->  Indian Army 	 Length -->  11

s2 -->   Indian     Army     	 Length -->  20
s2 strip -->  Indian     Army 	 Length -->  15

s3 -->  Indian, Army 	 Length -->  12
s3 strip -->  Indian, Army 	 Length -->  12

---
### **8.6 String split**
---

In [29]:
s1=" Indian Army    "
s2=" Indian     Army    "
s3="Indian, Army"

print ("s1 --> ", s1)
print ("s1 split --> ", s1.split())

print ("\ns2 --> ", s2)
print ("s2 split --> ", s2.split())
print ("s2 split with ' ' --> ", s2.split(' '))

print ("\ns3 --> ", s3)
print ("s3 split --> ", s3.split())
print ("s3 split with ' ' --> ", s3.split(","))

s1 -->   Indian Army
s1 split -->  ['Indian', 'Army']

s2 -->   Indian     Army
s2 split -->  ['Indian', 'Army']
s2 split with ' ' -->  ['', 'Indian', '', '', '', '', 'Army', '', '', '', '']

s3 -->  Indian, Army
s3 split -->  ['Indian,', 'Army']
s3 split with ' ' -->  ['Indian', ' Army']

---
### **8.7 Count in string**
---

In [30]:
s1=" Indian Army    "
print ("s1 --> ", s1)
print ("s1 count ' ' --> ", s1.count(' '))
print ("s1 count 'a' --> ", s1.count('a'))
print ("s1 count 'n' --> ", s1.count('an'))

s1 -->   Indian Army
s1 count ' ' -->  6
s1 count 'a' -->  1
s1 count 'n' -->  1

---
### **8.8 Reverse a String**
---

In [32]:
s1="Indian Army"
print ("s1       --> ", s1)
print ("s1[::1]  --> ", s1[::1])
print ("s1[::-1] --> ", s1[::-1])
print ("s1[::-2] --> ", s1[::-2])
print ("s1[::2]  --> ", s1[::2])
s1=s1[::-1]
print ("s1 after reverse --> ", s1)

s1       -->  Indian Army
s1[::1]  -->  Indian Army
s1[::-1] -->  ymrA naidnI
s1[::-2] -->  yr adI
s1[::2]  -->  Ida ry
s1 after reverse -->  ymrA naidnI

---
### **8.9 Palindrome**
---

In [33]:
s1="Indian Army"
s2="malayalam"
s3="madam"
s4="teacher"
print ("s1 --> ", s1==s1[::-1])
print ("s2 --> ", s2==s2[::-1])
print ("s3 --> ", s3==s3[::-1])
print ("s4 --> ", s4==s4[::-1])

s1 -->  False
s2 -->  True
s3 -->  True
s4 -->  False

---
# **9. Random Numbers/String**
**Learning:** Generate Random Numbers/String

---
### **9.1 Generate random number between 0 and 1**

In [34]:
import random as r
print (r.random())
print (r.random())
print (r.random())

0.1891597992239884
0.5831346032074725
0.11548490361451513

---
### **9.2 Generate random integer number**
---

In [35]:
import random as r
print (r.randint(1, 100))
print (r.randint(1, 100))
print (r.randint(1, 100))
print (r.randint(-10, 10))
print (r.randint(-10, 10))
print (r.randint(-10, 10))

36
50
88
-9
-1
6

---
### **9.3 Generate random real number**
---

In [36]:
import random as r
print (r.uniform(1, 100))
print (r.uniform(1, 100))
print (r.uniform(1, 100))
print (r.uniform (-10, 10))
print (r.uniform (-10, 10))
print (r.uniform (-10, 10))

61.482833459992335
28.693389324582334
8.573642637051755
5.33195635829626
0.08404466035658587
9.297988533713358

---
### **9.4 Generate sample from a list of elements**
---

In [37]:
import random as r
A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (r.sample(A, 4))
print (r.sample(A, 2))
print (r.sample(range(1,90), 2))
print (r.sample(range(1,90), 5))

[5, 6, 10, 2]
[2, 1]
[48, 74]
[55, 40, 4, 59, 10]

---
### **9.5 Generate random string**
---

In [41]:
import string as s
import random as r
print ("String  --> ",s.ascii_letters)

passwd=r.sample(s.ascii_letters, 5)
print ("passwd1 --> ",passwd)
passwd="".join(passwd)
print ("passwd1 --> ",passwd)

passwd=r.sample(s.ascii_letters, 6)
print ("passwd2 --> ",passwd)
passwd="+".join(passwd)
print ("passwd2 --> ",passwd)

passwd=r.sample(s.ascii_letters, 8)
print ("passwd3 --> ",passwd)
passwd="*".join(passwd)
print ("passwd3 --> ",passwd)

String  -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
passwd1 -->  ['G', 'N', 'u', 'L', 'E']
passwd1 -->  GNuLE
passwd2 -->  ['R', 'w', 'z', 'E', 'u', 'v']
passwd2 -->  R+w+z+E+u+v
passwd3 -->  ['j', 'h', 'r', 'M', 'F', 'i', 'L', 'O']
passwd3 -->  j*h*r*M*F*i*L*O

---
### **9.6 Generate random digits**
---

In [43]:
import string as s
import random as r
print ("Digits --> ",s.digits)

otp=r.sample(s.digits, 5)
print ("otp1   --> ",otp)
otp="".join(otp)
print ("otp1   --> ",otp)

otp=r.sample(s.digits, 5)
print ("otp2   --> ",otp)
otp="".join(otp)
print ("otp2   --> ",otp)

otp=r.sample(s.digits, 5)
print ("otp3   --> ",otp)
otp="".join(otp)
print ("otp3   --> ",otp)

Digits -->  0123456789
otp1   -->  ['7', '5', '2', '8', '6']
otp1   -->  75286
otp2   -->  ['8', '0', '1', '9', '6']
otp2   -->  80196
otp3   -->  ['9', '7', '4', '0', '1']
otp3   -->  97401

---
### **9.7 Generate random string + digits**
---

In [45]:
import string as s
import random as r
print ("String + Digits --> ",s.ascii_letters + s.digits)

mixPasswd=r.sample(s.ascii_letters + s.digits, 8)
print ("mixPasswd1 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd1 --> ",mixPasswd)

mixPasswd=r.sample(s.ascii_letters + s.digits, 10)
print ("mixPasswd2 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd2 --> ",mixPasswd)

splChar="#@!~%^&*()_+=-[]{}|"
mixPasswd=r.sample(splChar + s.ascii_letters + s.digits, 12)
print ("mixPasswd3 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd3 --> ",mixPasswd)

String + Digits -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
mixPasswd1 -->  ['t', 'T', 'm', '1', 'g', 'c', 's', 'k']
mixPasswd1 -->  tTm1gcsk
mixPasswd2 -->  ['d', 'M', 'U', '9', 'c', 'X', 'z', 'b', 'k', 'f']
mixPasswd2 -->  dMU9cXzbkf
mixPasswd3 -->  ['5', 'N', 'i', 'a', 'u', '{', 'h', 'j', 'I', 'A', 'B', 'H']
mixPasswd3 -->  5Niau{hjIABH

---
# **10. Exception Handaling**
**Learning:** How to handle exceptions

---
### **10.1 Error Generation**

In [46]:
for i in range(-5,6):
	print ("100/",i," --> ", 100/i)

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0

ZeroDivisionError: ignored

---
### **10.2 Exception handaling for division by zero**
---

In [47]:
for i in range(-5,6):
	try:
		print ("100/",i," --> ", 100/i)
	except:
		print ("error")

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0
error
100/ 1  -->  100.0
100/ 2  -->  50.0
100/ 3  -->  33.333333333333336
100/ 4  -->  25.0
100/ 5  -->  20.0

---
### **10.3 Exception handaling for array out of index**
---

In [48]:
L=[1,2,3,4,5]

for i in range(8):
	try:
		print (i," --> ",L[i])
	except:
		print ("error")

0  -->  1
1  -->  2
2  -->  3
3  -->  4
4  -->  5
error
error
error

---
### **10.4 Exception handaling for file not found**
---

In [49]:
fileName=input("Enter File Name: ")
fp=open(fileName)	# Open the file in reading mode
fp.close()
print ("Done")

Enter File Name: Nofile

FileNotFoundError: ignored

---
### **10.5 Exception handaling for file not found**
---

In [50]:
fileName=input("Enter File Name: ")
try:
	fp=open(fileName)	# Open the file in reading mode
	fp.close()
except:
	print ("Error !! File Not Found")

print ("Done")

Enter File Name: nofile
Error !! File Not Found
Done

---
# **11. Demo of Data Structure - List**
**Learning:** How to use list, add, delete, search in list

**Note:** Read more about list and try yourself

---
### **11.1 List Declaration**

In [51]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List: ", L)
print ("Number of elements in list: ", len(L))

Original List:  ['Pratham', 'Sharma', 3.14, 3]
Number of elements in list:  4

---
### **11.2 List Iteration**
---

In [52]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List: ", L)
i=0
while i < len(L): 
	print (L[i])
	i+=1

Original List:  ['Pratham', 'Sharma', 3.14, 3]
Pratham
Sharma
3.14
3

---
### **11.3 List Iteration using for loop**
---

In [53]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List: ", L)
for i in range(0, len(L)):
	print (L[i])

Original List:  ['Pratham', 'Sharma', 3.14, 3]
Pratham
Sharma
3.14
3

---
### **11.4 List Iteration using for loop**
---

In [54]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List --> ", L)
for s in L:
	print (s)

Original List -->  ['Pratham', 'Sharma', 3.14, 3]
Pratham
Sharma
3.14
3

---
### **11.5 Adding and deleting from list**
---

In [55]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List --> ", L)
L.append("Rahul")
print ("List After Adding --> ", L)
del L[1]
print ("List After Deleting --> ", L)

Original List -->  ['Pratham', 'Sharma', 3.14, 3]
List After Adding -->  ['Pratham', 'Sharma', 3.14, 3, 'Rahul']
List After Deleting -->  ['Pratham', 3.14, 3, 'Rahul']

---
### **11.6 Sum/Average of List**
---

In [56]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)
print ("Sum --> ", sum(L))
print ("Average --> ", sum(L)/len(L))
print ("L * 3 --> ", L * 3)
print ("L + L --> ", L + L)

Original List -->  [3, 6, 9, 12, 5, 3, 2]
Sum -->  40
Average -->  5.714285714285714
L * 3 -->  [3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2]
L + L -->  [3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2]

---
### **11.7 Min/Max/Sort the list**
---

In [57]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)
print ("max --> ", max(L))
print ("min --> ", min(L))
print ("Before Sort --> ", L)
L.sort()
print ("After Sort (Asending) --> ", L)
L.sort(reverse=True)
print ("After Sort (Desending) --> ", L)

Original List -->  [3, 6, 9, 12, 5, 3, 2]
max -->  12
min -->  2
Before Sort -->  [3, 6, 9, 12, 5, 3, 2]
After Sort (Asending) -->  [2, 3, 3, 5, 6, 9, 12]
After Sort (Desending) -->  [12, 9, 6, 5, 3, 3, 2]

---
### **11.8 Merge lists and select elements**
---

In [59]:
L1 = [3, 6, 9]
L2 = [12, 5, 3, 2]
L3 = L1 + L2
print ("L1 --> ",L1)
print ("L2 --> ",L2)
print ("L1 + L2 = L3 --> ",L3)
print ("L3[2:]  --> ",L3[2:])
print ("L3[2:5] --> ",L3[2:5])
print ("L3[:-1] --> ",L3[:-1])
print ("L3[::2] --> ",L3[::2])

L1 -->  [3, 6, 9]
L2 -->  [12, 5, 3, 2]
L1 + L2 = L3 -->  [3, 6, 9, 12, 5, 3, 2]
L3[2:]  -->  [9, 12, 5, 3, 2]
L3[2:5] -->  [9, 12, 5]
L3[:-1] -->  [3, 6, 9, 12, 5, 3]
L3[::2] -->  [3, 9, 5, 2]

---
### **11.9 Multiply all elements of list by a constant**
---

In [60]:
L = [12, 5, 3, 2, 7]
print ("Original List --> ", L)
newL = [ i * 5 for i in L ]
print ("After Multiply with constant --> ", newL)

Original List -->  [12, 5, 3, 2, 7]
After Multiply with constant -->  [60, 25, 15, 10, 35]

---
### **11.10 Searching in the list**
---

In [61]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", 6 in L)
print ("Original List --> ", 10 in L)
print ("Original List --> ", 12 in L)

if (6 in L) == True:
	print ("Present")
else:
	print ("Not Present")

if 10 in L == False:
	print ("Not Present")
else:
	print ("Present")

Original List -->  True
Original List -->  False
Original List -->  True
Present
Present

---
# **12. Demo of Data Structure - Dictionary**
**Learning:** How to use Dictionary, add, delete, search in Dictionary

**Note:** Read more about Dictionary and try yourself

---
### **12.1 Declare Dictionary**

In [62]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Dictionary --> ", CGPA)
print ("Total dictionary contants --> ", len(CGPA))
print ("CGPA of 1 --> ", CGPA[1])
print ("CGPA of 4 --> ", CGPA[4])
print ("CGPA of 7 --> ", CGPA[7])
print ("CGPA of 3 --> ", CGPA[3])

Dictionary -->  {1: 8.9, 2: 5.6, 4: 6.7, 7: 9.1, 8: 5.3}
Total dictionary contants -->  5
CGPA of 1 -->  8.9
CGPA of 4 -->  6.7
CGPA of 7 -->  9.1

KeyError: ignored

---
### **12.2 Triverse dictionary**
---

In [63]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
for k in CGPA:
	print ("CGPA of ", k, " --> ", CGPA[k])

CGPA of  1  -->  8.9
CGPA of  2  -->  5.6
CGPA of  4  -->  6.7
CGPA of  7  -->  9.1
CGPA of  8  -->  5.3

---
### **12.3 Getting Keys and Values**
---

In [64]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Dictionary --> ", CGPA)
print ("Keys --> ", CGPA.keys())
print ("Values --> ", CGPA.values())

Dictionary -->  {1: 8.9, 2: 5.6, 4: 6.7, 7: 9.1, 8: 5.3}
Keys -->  dict_keys([1, 2, 4, 7, 8])
Values -->  dict_values([8.9, 5.6, 6.7, 9.1, 5.3])

---
### **12.4 Updating, Adding and Deleting from Dictionary**
---

In [65]:
CGPA={1:8.9,2:5.6,4:6.7,7:9.1,8:5.3}
print ("Original Dictionary --> ", CGPA)
CGPA[4] = 9.2
print ("Dictionary After Updating (4) --> ", CGPA)
CGPA[3] = 8.6
print ("Dictionary After Adding (3) --> ", CGPA)
del CGPA[1]
print ("Dictionary After Deleting (1) --> ", CGPA)
CGPA.clear()
print ("Dictionary after clear --> ", CGPA)
del CGPA
print ("Dictionary after delete --> ", CGPA)

Original Dictionary -->  {1: 8.9, 2: 5.6, 4: 6.7, 7: 9.1, 8: 5.3}
Dictionary After Updating (4) -->  {1: 8.9, 2: 5.6, 4: 9.2, 7: 9.1, 8: 5.3}
Dictionary After Adding (3) -->  {1: 8.9, 2: 5.6, 4: 9.2, 7: 9.1, 8: 5.3, 3: 8.6}
Dictionary After Deleting (1) -->  {2: 5.6, 4: 9.2, 7: 9.1, 8: 5.3, 3: 8.6}
Dictionary after clear -->  {}

NameError: ignored

---
### **12.5 Checking for Key in Dictionary**
---

In [66]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}
print ("Original Dictionary --> ", CGPA)
print ("Is Key 2 Present --> ", 2 in CGPA)
print ("Is Key 9 Present --> ", 9 in CGPA)

Original Dictionary -->  {1: 8.9, 2: 5.6, 4: 6.7, 7: 9.1, 8: 5.3}
Is Key 2 Present -->  True
Is Key 9 Present -->  False

---
### **12.6 More example1**
---

In [67]:
HomeTown={"Prashant":"Delhi", "Govind":"Gwalior", "Anil":"Morena", "Pankaj":"Agra"}
print ("Original Dictionary --> ", HomeTown)
print ("Home Town of Prashant is --> ", HomeTown["Prashant"])
print ("Home Town of Govind is --> ", HomeTown["Govind"])
print ("Home Town of Anil is --> ", HomeTown["Anil"])
print ("Home Town of Pankaj is --> ", HomeTown["Pankaj"])

Original Dictionary -->  {'Prashant': 'Delhi', 'Govind': 'Gwalior', 'Anil': 'Morena', 'Pankaj': 'Agra'}
Home Town of Prashant is -->  Delhi
Home Town of Govind is -->  Gwalior
Home Town of Anil is -->  Morena
Home Town of Pankaj is -->  Agra

---
### **12.7 More example2**
---

In [68]:
HomeTown={"Prashant":"Delhi", "Govind":"Gwalior", "Anil":"Morena", "Pankaj":"Agra"}
print ("Original Dictionary --> ", HomeTown)

for d in HomeTown:
	print ("Home Town of ", d, " is  --> ", HomeTown[d])

Original Dictionary -->  {'Prashant': 'Delhi', 'Govind': 'Gwalior', 'Anil': 'Morena', 'Pankaj': 'Agra'}
Home Town of  Prashant  is  -->  Delhi
Home Town of  Govind  is  -->  Gwalior
Home Town of  Anil  is  -->  Morena
Home Town of  Pankaj  is  -->  Agra

---
# **13 Demo of Data Structure - Touple**

**Learning:** How to use Touple, add, delete, search in Touple

**Note:** Read more about Touple and try yourself

---

---
# **14 Demo of Data Structure - Set**

**Learning:** How to use Set, add, delete, search in Set

**Note:** Read more about Set and try yourself

---
### **14.1 Declare Set**

In [69]:
s = set(['A', 'B', 'E', 'F','E', 'F' ])
print ("Original set --> ", s)
print ("Number of elements in set --> ", len(s))

Original set -->  {'A', 'B', 'F', 'E'}
Number of elements in set -->  4

---
### **14.2 Opertions on Sets**
---

In [70]:
a = set(['A', 'B', 'E', 'F' ])
b = set(["A", "C", "D", "E"])
print ("Original set a --> ", a)
print ("Original set b --> ", b)
print ("Union of a and b --> ", a.union(b))
print ("Intersection of a and b --> ", a.intersection(b))
print ("Difference a - b --> ", a - b)
print ("Difference a - b --> ", a.difference(b))
print ("Difference b - a --> ", b - a)
print ("Difference b - a --> ", b.difference(a))
print ("Symetric Difference a - b --> ", a.symmetric_difference(b))
print ("Symetric Difference b - a --> ", b.symmetric_difference(a))

Original set a -->  {'A', 'B', 'F', 'E'}
Original set b -->  {'A', 'D', 'C', 'E'}
Union of a and b -->  {'F', 'C', 'E', 'B', 'A', 'D'}
Intersection of a and b -->  {'A', 'E'}
Difference a - b -->  {'F', 'B'}
Difference a - b -->  {'F', 'B'}
Difference b - a -->  {'D', 'C'}
Difference b - a -->  {'D', 'C'}
Symetric Difference a - b -->  {'F', 'C', 'B', 'D'}
Symetric Difference b - a -->  {'F', 'C', 'B', 'D'}

---
### **14.3 Add, delete, pop element from set**
---

In [72]:
a = set(['A', 'B', 'E', 'F' ])
print ("Original set a --> ", a)
a.add("D")
print ("Set After Adding (D)   --> ", a)
a.add("D")
print ("Set After Adding (D)   --> ", a)
a.remove("D")
print ("Set After Deleting (D) --> ", a)
a.pop()
print ("Set After pop --> ", a)

Original set a -->  {'A', 'B', 'F', 'E'}
Set After Adding (D)   -->  {'F', 'E', 'B', 'A', 'D'}
Set After Adding (D)   -->  {'F', 'E', 'B', 'A', 'D'}
Set After Deleting (D) -->  {'F', 'E', 'B', 'A'}
Set After pop -->  {'E', 'B', 'A'}

---
# **15. Command Line Argument**

**Learning:** How to Take input from command line and process it

**Note:** To run the program at cmd line
- $ python Program.py 10 20

---
### **15.1 Add two numbers given at cmd line**
**Note:** To run the program at cmd line
- $ python Program.py 10 20

In [73]:
import sys
print (sys.argv)
a = int(sys.argv[1]) 	# First Number
b = int(sys.argv[2])	# Second Number
c = a + b
print (a, " + ", b, " --> ", c)

['/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-bb24d3ea-a4c4-4ac5-b49c-2fa295635610.json']

ValueError: ignored

---
### **15.2 Concatinate two strings given at cmd line**
**Note:** To run the program at cmd line
- $ python Program.py FirstString SecondString
---

In [74]:
import sys
print (sys.argv)
s = sys.argv[1] + " " + sys.argv[2]
print (sys.argv[1], " + ", sys.argv[2], " --> ", s)

['/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-bb24d3ea-a4c4-4ac5-b49c-2fa295635610.json']
-f  +  /root/.local/share/jupyter/runtime/kernel-bb24d3ea-a4c4-4ac5-b49c-2fa295635610.json  -->  -f /root/.local/share/jupyter/runtime/kernel-bb24d3ea-a4c4-4ac5-b49c-2fa295635610.json

---
### **15.3 Add all the numbers given at cmd line**
**Note:** To run the program at cmd line
- $ python Program.py 10 20 30 40
---

In [75]:
import sys
print (sys.argv)
sum=0
for s in sys.argv[1:]:
	sum += int(s)

print ("Sum is --> ", sum)

['/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-bb24d3ea-a4c4-4ac5-b49c-2fa295635610.json']

ValueError: ignored

---
# **16. File Handling**

**Learning:** How to open the file, how to read line by line

---
### **16.1 Writing 1 to 10 in file**

In [81]:
fp=open('result.txt','w')	# Open the file in writing mode
for  i in range(1,11):
	fp.write(str(i) + "\n")	# Writing to the file line by line
fp.close()

print ("Writing done !! \nOpen result.txt to view the content")

Writing done !!
Open result.txt to view the content

---
### **16.2 Read a file**
---

In [82]:
fp=open('result.txt')		# Open the file in reading mode
for line in fp: 		    # print line by line
	print (line.strip())
fp.close()

1
2
3
4
5
6
7
8
9
10

---
### **16.3 Read from one file, Convert it to upper case and write to other file**
---

In [83]:
Readfp=open('abc.txt')		# Open the file in reading mode
Writefp=open('result.txt','w')	# Open the file in writing mode
for line in Readfp: 
	Writefp.write(line.upper())
	
Writefp.close()
Readfp.close()

print ("Writing done !! \nOpen result.txt to view the content")

Writing done !!
Open result.txt to view the content